* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: lightgrey;
}

.quote {
  text-align: center;
  padding: 2rem 15% 2rem 15%;
  background-color: lightgrey;
}
header {
  border-top: 10px solid purple;
  background-color: white;
  color: black;
  padding: 30px;

  display: flex;
  justify-content: space-between;
}
a {
  padding-right: 10px;
}

.nav {
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
}
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
}
.right {
  display: flex;
  flex-direction: column-reverse;
}
.slider {
  position: relative;
}
.slidercat {
  width: 100%;
  height: auto;
  display: block;
  min-height: 200px;
}
.caption {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  padding: 40px;
}

h3 {
  margin-bottom: 20px;
}
.lorum {
  display: flex;
  background-color: white;
  color: black;
  padding: 20px;
}
.lorumleft {
  display: flex;
}
.lorumcenter {
  display: flex;
}
.lorumright {
  display: flex;
}
.lorum img {
  max-height: 50px;
}
.text {
  padding: 10px;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: black;
  padding: 20px;
}
.columnleft {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.columncenter {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.columnright {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text {
  padding: 10px;
}
.bottom {
  background-color: #fff;
  display: flex;

  padding: 40px;
}
.contact {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
  margin: 20px;
}
.links {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
  margin: 20px;
}
.blog {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
  margin: 20px;
}
.newsletter {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
  margin: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 40px;
}
input {
  margin: 5px;
}
h3 {
  text-transform: capitalize;
}
